<!DOCTYPE html>
<html>
<head>
  <title>TTS</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
<% end %>

<% if flash[:error] %>
    <div id="error"><%= flash[:error] %></div>
<% end %>

<%= link_to 'Agendadas', root_path %>
<% if current_user %>
    <%= link_to 'minhas palestras', mine_path %>
    <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
<% else %>
    <%= link_to 'Login', new_user_session_path %>
<% end %>


<%= yield %>

</body>
</html>
